@media (max-width: 48em) {
   .mobile-hide {
       display: none;
   }
}

div.post {
    margin-bottom: 1em;
}

div.footer {
    color: grey;
    font-size: 0.9em;
}

div.footer p {
    margin-top: 1em;
}

div.footer .nowrap {
    white-space: nowrap;
}

div.post-date {
    margin-bottom: 0.5 rem;
}

div.comment {
    border: lightgray 1px solid;
    padding: 1em;
    margin-bottom: 1em;
}

div.comment p {
    margin: 0;
}

p.comment-author {
    color: gray;
    font-size: small;
}

p.comment-date {
    color: gray;
    font-size: small;
}

div.related {
    padding-top: 1em;
}

div.comment label {
    color: gray;
    font-size: 0.7em;
}

div.comment textarea {
    width: 100%
}

div.comment input[type="submit"] {
    display: block;
    float: right;
    color: gray;
    margin-top: 5px;
}

div.comment div {
    margin-top: -10px
}

label.small-block {
    display: block;
    font-size: small;
}

code {
    padding: .25em 0em;
}