@media (max-width: 48em) {
   .mobile-hide {
       display: none;
   }
}

div.footer {
    color: grey;
    font-size: 0.9em;
}

div.footer p {
    margin-top: 1em;
}

div.footer .nowrap {
    white-space: nowrap;
}

div.post-date {
    margin-bottom: 0.5 rem;
}